<mat-toolbar class="header-content">

<img [src]="logoPath">

<span class="fill-remaining-space"></span>

<span>Hi {{lionLoginID}}!</span>

<mat-icon class="icon-space" [matMenuTriggerFor]="menu">more_vert</mat-icon>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span routerLink="/users">Users</span>
  </button>
  <button mat-menu-item>
    <span>Column Standards</span>
  </button>
  <button mat-menu-item>
    <span>Edit Templates</span>
  </button>
  <button mat-menu-item>
    <span>Sign Out</span>
  </button>
</mat-menu>

</mat-toolbar>