<app-side-navigation #navigation>

    <app-header-toolbar
        left-upper-content 
        [title]="headerTitle" 
        [icons]="headerIcons" 
        [displayToggle]="false"
        [showFilterMenu]="true">
    </app-header-toolbar>

    <app-list-content 
        left-bottom-content
        [items]="items" 
        (onItemClick)="onCampaignClick($event)"
        (onItemCheck)="onCampaignCheck($event)"
        [icons]="listIcons">
    </app-list-content>

    <app-header-toolbar
        right-upper-content
        *ngIf="state == StateEnum.Data"
        [title]="title"
        [icons]="campaignIcons"
        [displayToggle]="true"
        (onToggle)="onChangeView()"
        [showFilterMenu]="false">
    </app-header-toolbar>

    <div right-bottom-content 
        [ngSwitch]="state" 
        style="height:100%;">

        <div *ngSwitchCase="StateEnum.Empty" class="emptyContent">
            Please select a campaign
        </div>

        <div *ngSwitchCase="StateEnum.Loading" class="spinner">
            <mat-spinner [diameter]=50></mat-spinner>
        </div>

        <div *ngSwitchCase="StateEnum.Data">
            <app-campaign-form [clients]="clients" [countries]="countries">
            </app-campaign-form>
        </div>

    </div>

</app-side-navigation>