<mat-form-field class="input-space">
  <input matInput placeholder="Name">
</mat-form-field>

<mat-form-field class="input-space">
  <mat-select placeholder="Clients">
    <mat-option *ngFor="let client of clients" [value]="client">
      {{ client }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="input-space">
  <mat-select placeholder="Country">
    <mat-option *ngFor="let country of countries" [value]="client">
      {{ country }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="input-space">
  <input matInput [matDatepicker]="picker1" placeholder="Start Date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field class="input-space">
  <input matInput [matDatepicker]="picker2" placeholder="End Date">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>